<main>
    <section>
     <form  class="formulario">
        <div>
            <label>Nombre:</label>
            <input formControlName="Nombre" type="text" placeholder="Nombre" name="Nombre" required>
          </div>
        <div>
          <label>Usuario:</label>
          <input formControlName="usuario" type="text" placeholder="Usuario" name="usuario" required>
        </div>
        <div>
          <label>Contraseña:</label>
          <input formControlName="password" type="password"  placeholder="*****************" name="password" required>
        </div>

        <div>
            <label>confirmar Contraseña:</label>
            <input formControlName="password 2" type="password"  placeholder="*****************" name="password" required>
          </div>
        <div class="buttom-contenedor">
          <button type="submit">Ingresar</button>
        </div>
      </form>
    </section>    
</main>
